# Week 4: 리스트, 튜플, 딕셔너리, 집합, 불

## 2019 Summer

### Mina Jyung

# 1. 리스트 자료형 (List)

* 여러 값들을 나열하는 자료형

## 1.1 리스트 자료형 예시

* 리스트 이름 = [요소1, 요소2, 요소3, ...]


* 리스트 안에는 어떠한 자료형도 포함시킬 수 있다.

In [42]:
number = [1,2,3,4,5]  #숫자형 요소들 포함
text = ["A","B","C","D","E"]  #문자형 요소들 포함
mix = [1,2,3,"A","B","C"]  #숫자형과 문자형 요소들 모두 포함
List = [1,2,3,["A","B","C","D","E"]]  #리스트 자체를 요소로 포함

null = []  #비어 있는 리스트도 생성 가능
null2 = list()  #null과 같다

In [2]:
print(null)
print(null2)

[]
[]

## 1.2 리스트의 인덱싱과 슬라이싱

### 1.2.1 리스트의 인덱싱

*** 숫자형**

In [3]:
#리스트도 문자열처럼 인덱싱을 적용할 수 있다.

a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [4]:
#리스트의 첫 번째 요솟값

a[0]

1

In [5]:
#리스트의 첫 번째 요솟값과 네 번째 요솟값을 더한 것 (i.e., 1 + 5 = 6)

a[0] + a[4]

6

In [6]:
#리스트의 마지막 요솟값

a[-1]

5

In [7]:
#리스트 마지막에서 두 번째 요솟값
a[-2]

4

*** 문자형**

In [8]:
b = ["car","bus","truck","motorcycle","bicycle"]

print(b)
print(b[0])
print(b[0] + b[4])
print(b[-1])
print(b[2]*3)

['car', 'bus', 'truck', 'motorcycle', 'bicycle']
car
carbicycle
bicycle
trucktrucktruck

*** 숫자형과 문자형 더하기**

In [9]:
c = [1,2,3,"car","bus","truck"]

print(c[0])
print(c[-1])

1
truck

In [10]:
#예시 1
c[1] + c[4]

#오류 발생! 숫자형을 str 함수를 활용하여 문자형으로 바꿔줘야 한다.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [11]:
#오류 해결 방법

str(c[1]) + c[4]

'2bus'

In [28]:
#예시 2
c[2] + "airplane"

#오류 발생!

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
#오류 해결 방법

str(c[2]) + "airplane"

'3airplane'

*** 이중 리스트**

* 리스트 안의 리스트는 요소로 처리된다. 
* 리스트 안의 리스트를 인덱싱하기 위해서는 <span style="color:blue">**변수이름[내부 리스트 위치][내부 리스트 안에서 찾고자 하는 요소 위치]**</span>로 지정한다.

In [12]:
d = [1,2,3,4,["A","B","C","D","E"]]

print(d[4])
print(d[4][0])
print(d[4][1])
print(d[4][-1])

['A', 'B', 'C', 'D', 'E']
A
B
E

### 1.2.2 리스트의 슬라이싱

***

* REMINDER

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**1) a[s:e]는 a문자열의 s번째 문자 이상, e번째 문자 미만**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**2) a[s:]는 s번째 문자에서 끝까지**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**3) a[:e]는 처음부터 e번째 문자 이전까지**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**4) a[:]는 a문자열을 모두**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**5) a[s:-e]는 s번째 문자에서 뒤로부터 e번째 문자 이전까지**

*** 숫자형**

In [13]:
#리스트도 문자열처럼 슬라이싱을 적용할 수 있다.

a = [1,2,3,4,5]

print(a[0:2])
print(a[0:])
print(a[:4])
print(a[:])
print(a[1:-1])  #a[-1] 값은 5이며, a[1:-1]에서는 a[-1] 값인 5가 포함되지 않는다.

[1, 2]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[2, 3, 4]

*** 문자형**

In [16]:
b = ["car","bus","truck","motorcycle","bicycle"]

print(b[0:])
print(b[:3])
print(b[:2] + b[3:5])

['car', 'bus', 'truck', 'motorcycle', 'bicycle']
['car', 'bus', 'truck']
['car', 'bus', 'motorcycle', 'bicycle']

*** 이중 리스트**

In [20]:
d = [1,2,3,4,["A","B","C","D","E"]]

print(d[3:])
print(d[4][:])
print(d[4][0])
print(d[4][1:3])
print(d[4][1:-2])

[4, ['A', 'B', 'C', 'D', 'E']]
['A', 'B', 'C', 'D', 'E']
A
['B', 'C']
['B', 'C']

## 1.3 리스트의 연산

*** 더하기 (+)**

In [23]:
animals = ["dog","cat","tiger","monkey","pig"]
insects = ["butterfly","bee","beetle","ladybug"]

print(animals + insects)  #위와 아래 연산의 차이는 무엇일까? #print는 한 줄로
animals + insects

['dog', 'cat', 'tiger', 'monkey', 'pig', 'butterfly', 'bee', 'beetle', 'ladybug']

['dog',
 'cat',
 'tiger',
 'monkey',
 'pig',
 'butterfly',
 'bee',
 'beetle',
 'ladybug']

*** 반복하기 (*)**

In [25]:
animals = ["dog","cat","tiger","monkey","pig"]

print(animals*3)

['dog', 'cat', 'tiger', 'monkey', 'pig', 'dog', 'cat', 'tiger', 'monkey', 'pig', 'dog', 'cat', 'tiger', 'monkey', 'pig']

*** 리스트 자료형의 길이 구하기 (len)**

In [26]:
insects = ["butterfly","bee","beetle","ladybug"]

len(insects)

4

In [27]:
X = []

len(X)

0

## 1.4 리스트의 수정과 삭제

* 리스트는 값을 수정하거나 삭제할 수 있다.

### 1.4.1 리스트에서 값 수정하기

In [32]:
a = [1,2,3,5,5]

a[3] = 4
print(a)

[1, 2, 3, 4, 5]

### 1.4.2 del 함수로 리스트 요소 삭제하기

In [34]:
a = [1,2,3,5,5]

del a[4]
print(a)

[1, 2, 3, 5]

In [41]:
animals = ["bug","dog","cat","tiger","monkey","pig"]

del animals[0]
print(animals)

del animals[0:1]
print(animals)

del animals[1:-1]
print(animals)

del animals[:]
print(animals)

['dog', 'cat', 'tiger', 'monkey', 'pig']
['cat', 'tiger', 'monkey', 'pig']
['cat', 'pig']
[]

### 1.4.3 리스트 관련 함수로 리스트 수정하기

***

* 리스트 변수 이름 뒤에 '.'를 붙인 다음에 함수 이름을 쓰면 된다.

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**1) a.append(x): 리스트 마지막 위치에 x 요소 추가**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**2) a.sort( ): 리스트 요소를 순서대로 정렬**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**3) a.reverse( ): 기존 리스트 순서를 역순으로 뒤집기**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**4) a.index(x): x 요소의 위치 값을 반환**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**5) a.insert(s,e): s번째 요소 자리에 e를 삽입**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**6) a.remove(x): 첫번째로 나오는 x 요소 제거**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**7) a.pop( ): 리스트 마지막 요소를 돌려주고 그 요소를 삭제**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**a.pop(x): 리스트 x번째 요소를 돌려주고 그 요소를 삭제**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**8) a.count(x): 리스트에 포함된 특정 요소의 개수 세기**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**9) a.extend(b): 기존 리스트 a에 리스트 b를 추가**

In [45]:
#1) a.append(x): 리스트 마지막 위치에 x 요소 추가

a = [1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [46]:
animals = ["dog","cat","tiger","monkey","pig"]
animals.append("elephant")
print(animals)

insects = ["butterfly","bee","beetle","ladybug"]  #요소처럼 리스트를 추가할 수 있다
animals.append(insects)
print(animals)

['dog', 'cat', 'tiger', 'monkey', 'pig', 'elephant']
['dog', 'cat', 'tiger', 'monkey', 'pig', 'elephant', ['butterfly', 'bee', 'beetle', 'ladybug']]

In [47]:
#2) a.sort( ): 리스트 요소를 순서대로 정렬

numbers = [0,-1,4,2,-3,-2,3,1,-4]
numbers.sort()
print(numbers)

text = ["A","가","D","B","다","나","C"]  #알파벳 순서대로 + 한글 순서대로
text.sort()
print(text)

[-4, -3, -2, -1, 0, 1, 2, 3, 4]
['A', 'B', 'C', 'D', '가', '나', '다']

In [48]:
#3) a.reverse( ): 기존 리스트 순서를 역순으로 뒤집기

#순서를 역순으로 정렬하고 싶을 때 sort 후 reverse 출력

numbers = [0,-1,4,2,-3,-2,3,1,-4]
numbers.reverse()
print(numbers)

text = ["A","가","D","B","다","나","C"]  
text.reverse()
print(text)

[-4, 1, 3, -2, -3, 2, 4, -1, 0]
['C', '나', '다', 'B', 'D', '가', 'A']

In [49]:
#4) a.index(x): x 요소의 위치 값을 반환

insects = ["butterfly","bee","beetle","ladybug"]
insects.index("bee")

1

In [50]:
insects.index("ant")  #리스트에 존저해지 않는 값이기 때문에 "ValueError(값 오류)"가 발생한다.

ValueError: 'ant' is not in list

In [51]:
#5) a.insert(s,e): s번째 요소 자리에 e를 삽입

insects = ["butterfly","bee","beetle","ladybug"]
insects.insert(0,"ant")  #파이썬 0번째 자리에 "ant"를 삽입
print(insects)

['ant', 'butterfly', 'bee', 'beetle', 'ladybug']

In [55]:
#6) a.remove(x): 첫번째로 나오는 x 요소 제거

x = [1,2,3,1,2,3,1,2,3]
x.remove(3)
print(x)
x.remove(3)
print(x)
x.remove(3)
print(x)

[1, 2, 1, 2, 3, 1, 2, 3]
[1, 2, 1, 2, 1, 2, 3]
[1, 2, 1, 2, 1, 2]

In [58]:
#7) a.pop( ): 리스트 마지막 요소를 돌려주고 그 요소를 삭제

x = [1,2,3,1,2,3,1,2,3]
x.pop()  #리스트 마지막 요소 돌려주기

3

In [60]:
print(x)  #마지막 요소를 삭제하고 리스트 보여주기

[1, 2, 3, 1, 2, 3, 1, 2]

In [61]:
#a.pop(x): 리스트 x번째 요소를 돌려주고 그 요소를 삭제

x = [1,2,3,1,2,3,1,2,3]
x.pop(1)

2

In [62]:
print(x)

[1, 3, 1, 2, 3, 1, 2, 3]

In [64]:
#8) a.count(x): 리스트에 포함된 특정 요소의 개수 세기

y = [1,2,3,1,2,3,1,2,3,1,2,4,1,"1"]
print(y.count(1))
print(y.count("1"))

5
1

In [65]:
#9) a.extend(b): 기존 리스트 a에 리스트 b를 추가

Alphabet = ["A","B","C","D"]
Alphabet.extend(["a","b","c","d"])
print(Alphabet)

['A', 'B', 'C', 'D', 'a', 'b', 'c', 'd']

In [70]:
Capital = ["A","B","C","D"]
Lower_case = ["a","b","c","d"]
Capital.extend(Lower_case)
print(Capital)

['A', 'B', 'C', 'D', 'a', 'b', 'c', 'd']

# 2. 튜플 자료형 (Tuple)

***

* 튜플과 리스트는 거의 비슷하지만, 다른 점은 아래와 같다.


    * 리스트는 [  ]으로 둘러싸지만, 튜플은 (  )으로 둘러싼다.
    * 리스트는 요소를 생성, 삭제, 수정이 가능하지만, 튜플은 불가능하다.
    
* 따라서, 프로그램을 하는 동안, 리스트 값이 항상 변하지 않기를 원한다면 튜플을 사용해야 한다.
* 실제 프로그램에서는 값이 변경되는 형태의 변수가 훨씬 많기 때문에 튜플보다는 리스트를 더 많이 사용한다.

## 2.1 튜플 자료형 예시

* 튜플 이름 = (요소1, 요소2, 요소3, ...)

In [71]:
number = (1,2,3,4,5)  #숫자형 요소들 포함
text = ("A","B","C","D","E")  #문자형 요소들 포함
mix = (1,2,3,"A","B","C")  #숫자형과 문자형 요소들 모두 포함

no_bracket1 = 1,2,3  #괄호를 생략해도 괜찮다! 
no_bracket2 = "A","B","C"

List = (1,2,3,("A","B","C","D","E"))  #튜플 자체를 요소로 포함

null = ()  #비어 있는 튜플도 생성 가능
one = (1,)  #요소가 하나일 때 요소 뒤에 콤마(,)를 꼭 표기!

## 2.2 튜플의 활용

* 튜플의 요솟값을 삭제하거나 변경할 수는 없지만, 그 외의 활동은 리스트와 완전히 동일하다.

### 2.2.1 튜플의 인덱싱

In [72]:
프리미어리그 = ("리버플","아스날","첼시","멘유","멘시티","토트넘")

print(프리미어리그[0])
print(프리미어리그[1] + 프리미어리그[5])
print(프리미어리그[1:])

리버플
아스날토트넘
('아스날', '첼시', '멘유', '멘시티', '토트넘')

### 2.2.2 튜플의 연산

In [73]:
#덧셈

프리미어리그 = ("리버플","아스날","첼시","멘유","멘시티","토트넘")
프리메라리가 = ("바르셀로나","레알마드리드","발렌시아","AT마드리드")
print(프리미어리그 + 프리메라리가)

('리버플', '아스날', '첼시', '멘유', '멘시티', '토트넘', '바르셀로나', '레알마드리드', '발렌시아', 'AT마드리드')

In [74]:
#곱셈

프리미어리그 = "리버플",
print(프리미어리그 * 7)

('리버플', '리버플', '리버플', '리버플', '리버플', '리버플', '리버플')

In [75]:
#튜플 자료형의 길이 구하기

Soccer_team = '리버플', '아스날', '첼시', '멘유', '멘시티', '토트넘', '바르셀로나', '레알마드리드', '발렌시아', 'AT마드리드'
print(len(Soccer_team))

10

### 2.2.3 튜플에 함수 적용하기

In [76]:
#적용되지 않는 함수 예시

#sort 함수

numbers = 0,-1,4,2,-3,-2,3,1,-4
numbers.sort()
print(numbers)

AttributeError: 'tuple' object has no attribute 'sort'

In [80]:
#index 함수 적용

insects = "butterfly","bee","beetle","ladybug"
print(insects.index("bee"))
print(insects.index("ladybug"))

1
3

In [81]:
#count 함수 적용

y = 1,2,3,1,2,3,1,2,3,1,2,4,1,"1"
print(y.count(1))
print(y.count("1"))

5
1

# 3. 딕셔너리 자료형 (Dictionary)

* 대응 관계를 나타내는 자료형

***

* 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형이다. (예: Key가 "soccer"이라면, Value는 "축구")

* 딕셔너리는 리스트나 튜플처럼 순차적으로 해당 요솟값을 구하지 않고, Key를 통해 Value를 얻는다.

* 즉, 딕셔너리에서는 모든 자료를 순차적으로 검색하는 것이 아니라, 사전처럼 Key를 검색하여 Value를 얻는다.

## 3.1 딕셔너리 자료형 예시

* Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다.


* Key:Value 형태이며, 쉼표(,)로 구분되어 있다.


* **Key**에는 변하지 않는 값을 사용하고, **Value**에는 변하는 값과 변하지 않는 값 모두 사용할 수 있다.

In [83]:
dictionary1 = {"first_name":"Mina","last_name":"Jyung","major":"psychology","degree":"master"}
dictionary2 = {1:"family",2:"friends",3:"acquaintance"}
dictionary3 = {"gender":["male","female"],"age":["20s","30s","40s","50s","60s"]}  #리스트 자체를 요소로 포함

print(dictionary1)
print(dictionary2)
print(dictionary3)

{'first_name': 'Mina', 'last_name': 'Jyung', 'major': 'psychology', 'degree': 'master'}
{1: 'family', 2: 'friends', 3: 'acquaintance'}
{'gender': ['male', 'female'], 'age': ['20s', '30s', '40s', '50s', '60s']}

In [86]:
#{}대신 dict({})도 사용 가능

dictionary1 = dict({"first_name":"Mina","last_name":"Jyung","major":"psychology","degree":"master"})

## 3.2 딕셔너리 쌍 추가, 삭제하기

### 3.2.1 딕셔너리 쌍 추가하기

* 딕셔너리 이름[추가하려는 Key값] = 추가하려는 Value값

In [87]:
simpsons = {"dad":"Homer","mom":"Julie"}

simpsons["son"] = "Bart"
simpsons["daughters"] = ["Lisa","Maggie"]
print(simpsons)

{'dad': 'Homer', 'mom': 'Julie', 'son': 'Bart', 'daughters': ['Lisa', 'Maggie']}

### 3.2.2 딕셔너리 쌍 삭제하기

* del함수 사용 &rarr; del 딕셔너리 이름[<span style="color:blue">Key</span>]

In [88]:
simpsons = {'dad': 'Homer', 'mom': 'Julie', 'son': 'Bart', 'daughters': ['Lisa', 'Maggie']}

del simpsons["son"]
print(simpsons)

{'dad': 'Homer', 'mom': 'Julie', 'daughters': ['Lisa', 'Maggie']}

## 3.3 딕셔너리의 활용

* 딕셔너리는 주로 어떤 것을 표현하는 데 사용할까? <span style="color:green">쌍으로 대응되는 자료를 처리할 때 편리하다.</span>

* 예) 사람 이름과 특기; 과일 이름과 과일 값; 사물함 번호과 사물함 위치 등

### 3.3.1 딕셔너리에서 Key에 대응하는 Value 얻기

* 문자열, 리스트, 튜플에서는 인덱싱이나 슬라이싱 기법을 사용해서 요솟값을 얻었지만, 딕셔너리에서는 Key를 사용해서 value를 얻는다. (딕셔너리는 순차적이지 않기 때문)


* 딕셔너리 이름[Key]를 사용하면 Value를 얻을 수 있다.

In [101]:
simpsons = {'dad': 'Homer', 'mom': 'Julie', 'son': 'Bart', 'daughters': ['Lisa', 'Maggie'],'etc':["Akira","Aristotle","Gil"]}

print(simpsons["dad"])
print(simpsons["daughters"])
print(simpsons["dad"] + simpsons["mom"])
print(simpsons["daughters"] + simpsons["etc"]) #리스트와 리스트는 함께 더할 수 있다.

print(simpsons["son"] + simpsons["daughters"])  #오류 발생! 문자열과 리스트는 함께 더할 수 없다.

Homer
['Lisa', 'Maggie']
HomerJulie
['Lisa', 'Maggie', 'Akira', 'Aristotle', 'Gil']

TypeError: can only concatenate str (not "list") to str

*** 딕셔너리 자료형에서는 인덱싱이나 슬라이싱은 불가능하다**

In [102]:
#인덱싱 시도

print(simpsons[0])

KeyError: 0

In [103]:
#슬라이싱 시도

print(simpsons[2:4])

TypeError: unhashable type: 'slice'

In [105]:
#인덱싱과 비슷한 형태이지만, Key값을 통해 Value값을 출력! (인덱싱 아닙니다)

dictionary2 = {1:"family",2:"friends",3:"acquaintance"}
print(dictionary2[1])

family

### 3.3.2 딕셔너리 활용시 <span style="color:red">주의사항</span>

*** 중복되는 Key값이 있을 때, <span style="text-decoration:underline">가장 마지막</span>인 것 이외의 나머지는 모두 무시된다.**

In [106]:
a = {1:'a',1:'b',1:'c',1:'d'}

print(a)

{1: 'd'}

*** Key에는 리스트를 쓸 수 없다. (리스트는 변할 수 있는 자료이기 때문이다)**

*** 단, 튜플은 쓸 수 있다. (튜플은 변할 수 없는 자료이기 때문이다)**

In [107]:
#Key에 리스트 시도

b = {[1,2]:'a'}
print(b)

TypeError: unhashable type: 'list'

In [111]:
#Key에 튜플 적용

c = {(1,2):'a'}
print(c)

d = (3,4,5)  #변수 사용하여 Key에 튜플 적용
e = {d:'b'}
print(e)

{(1, 2): 'a'}
{(3, 4, 5): 'b'}

## 3.4 딕셔너리 관련 함수들

### 3.4.1 Key 리스트 만들기

* **a.keys( )** 함수는 딕셔너리 a의 Key만 모아서 **dict_keys** 객체를 만들어준다.


* 이때, dict_keys 객체는 append,sort,reverse,index와 같은 리스트 관련 함수를 사용할 수 없다.


* dict_keys 객체를 리스트 자료형으로 만들기 위해서는 **list(a.keys( ))** 함수를 사용하면 된다.

In [112]:
simpsons = {'dad': 'Homer', 'mom': 'Julie', 'son': 'Bart', 'daughters': ['Lisa', 'Maggie']}

print(simpsons.keys())  #dict_keys객체 만들기
print(list(simpsons.keys()))  #리스트 자료형 만들기

dict_keys(['dad', 'mom', 'son', 'daughters'])
['dad', 'mom', 'son', 'daughters']

### 3.4.2 Value 리스트 만들기

* **a.values( )** 함수는 딕셔너리 a의 Key만 모아서 **dict_values** 객체를 만들어준다.


* 이때, dict_values 객체는 append,sort,reverse,index와 같은 리스트 관련 함수를 사용할 수 없다.


* dict_values 객체를 리스트 자료형으로 만들기 위해서는 **list(a.values( ))** 함수를 사용하면 된다.

In [113]:
simpsons = {'dad': 'Homer', 'mom': 'Julie', 'son': 'Bart', 'daughters': ['Lisa', 'Maggie']}

print(simpsons.values())  #dict_values객체 만들기
print(list(simpsons.values()))  #리스트 자료형 만들기

dict_values(['Homer', 'Julie', 'Bart', ['Lisa', 'Maggie']])
['Homer', 'Julie', 'Bart', ['Lisa', 'Maggie']]

### 3.4.3 Key, Value 쌍 리스트 만들기

* **a.items( )** 함수는 딕셔너리 a의 Key만 모아서 **dict_items** 객체를 만들어준다.


* 이때, dict_items 객체는 append,sort,reverse,index와 같은 리스트 관련 함수를 사용할 수 없다.


* dict_items 객체를 리스트 자료형으로 만들기 위해서는 **list(a.items( ))** 함수를 사용하면 된다.

In [114]:
simpsons = {'dad': 'Homer', 'mom': 'Julie', 'son': 'Bart', 'daughters': ['Lisa', 'Maggie']}

print(simpsons.items())  #dict_items객체 만들기
print(list(simpsons.items()))  #리스트 자료형 만들기

dict_items([('dad', 'Homer'), ('mom', 'Julie'), ('son', 'Bart'), ('daughters', ['Lisa', 'Maggie'])])
[('dad', 'Homer'), ('mom', 'Julie'), ('son', 'Bart'), ('daughters', ['Lisa', 'Maggie'])]

### 3.4.4 Key, Value 쌍 모두 지우기

* **a.clear( )** 함수는 딕셔너리 안의 모든 요소를 삭제한다.


* 빈 리스트를 [ ], 빈 튜플을 ( )로 표현하는 것처럼 **빈 딕셔너리는 { }**로 표현한다.

In [119]:
simpsons = {'dad': 'Homer', 'mom': 'Julie', 'son': 'Bart', 'daughters': ['Lisa', 'Maggie']}

simpsons.clear()
print(simpsons)

{}

In [120]:
print(simpsons.clear())

None

### 3.4.5 Key로 Value 얻기

* a[Key]처럼, **a.get(Key)** 함수는 Key값에 해당하는 Value를 돌려준다.


* 이때, a.get(Key)함수는 존재하지 않는 Key값을 찾으려 할 때 오류대신 None값을 돌려준다.


* 존재하지 않는 Key값을 찾으려 할 때, None 대신 다른 디폴트 값을 가져오게 하고 싶다면 **a.get(Key,'디폴트값')** 함수를 사용한다.

In [123]:
#a[Key]와 a.get(Key) 비교: 존재하는 Key값 찾기

simpsons = {'dad': 'Homer', 'mom': 'Julie', 'son': 'Bart', 'daughters': ['Lisa', 'Maggie']}

print(simpsons['dad'])
print(simpsons.get('dad'))

Homer
Homer

In [124]:
#a[Key]와 a.get(Key) 비교: 존재하지 않는 Key값 찾기

print(simpsons['dog'])  #오류 발생!

KeyError: 'dog'

In [125]:
print(simpsons.get('dog'))  #오류 대신 None으로 돌려준다.
                            #이때, None은 '거짓'이라는 뜻이다.

None

In [128]:
#a.get(Key,'디폴트값') 함수 사용

simpsons = {'dad': 'Homer', 'mom': 'Julie', 'son': 'Bart', 'daughters': ['Lisa', 'Maggie']}
print(simpsons.get('dog'))
print(simpsons.get('dog','Santa'))

None
Santa

### 3.4.6 해당 Key가 딕셔너리 안에 있는지 조사하기

* **'Key' in a** 를 호출하면 True 또는 False로 해당 Key가 딕셔너리 a 안에 있는지 확인해준다.

In [129]:
simpsons = {'dad': 'Homer', 'mom': 'Julie', 'son': 'Bart', 'daughters': ['Lisa', 'Maggie']}

print('daughters' in simpsons)
print('pet' in simpsons)

True
False

# 4. 집합 자료형 (Set)

* 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형

***

* 집합의 2가지 큰 특징: (1) 중복을 허용하지 않는다, (2) 순서가 없다


* 중복을 허용하지 않는 집합의 특징은 자료형의 중복을 제거하기 위한 필터 역할로 사용된다.


* 집합 자료형은 순서가 없기 때문에 인덱싱과 슬라이싱으로 값을 얻을 수 없다.
* 인덱싱을 사용하기 원한다면, 집합 자료를 리스트나 튜플 자료형으로 변환해야 한다.

## 4.1 집합 자료형 예시

* set 키워드 사용

In [131]:
#set( )안에 리스트 입력

a = set([1,2,3,4,5])
b = set([1,2,3,3,4,4,4,5])  #중복된 값은 자동으로 무시
text = set(["가","나","다","다","라"])

print(a)
print(b)
print(text)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{'가', '다', '나', '라'}

In [132]:
#set( )안에 문자열 입력

c = set("Goodmorning")
c

{'G', 'd', 'g', 'i', 'm', 'n', 'o', 'r'}

In [133]:
#비어있는 집합 자료형은 set( )로 표현

d = set()
d

set()

In [139]:
#집합 자료형은 인덱싱이나 슬라이싱으로 값을 얻을 수 없음

a = set([1,2,3,4,5])
a[0]

TypeError: 'set' object is not subscriptable

In [140]:
#인덱싱을 사용하기 원한다면, 리스트, 튜플 자료형으로 변환 후 사용

friends = set(["Joey","Rachel","Monica","Ross","Chandler","Pheobe"])

friends_list = list(friends)
friends_tuple = tuple(friends)

print(friends_list)
print(friends_tuple)

['Chandler', 'Monica', 'Joey', 'Pheobe', 'Rachel', 'Ross']
('Chandler', 'Monica', 'Joey', 'Pheobe', 'Rachel', 'Ross')

In [141]:
print(friends_list[3])
print(friends_tuple[3])

Pheobe
Pheobe

## 4.2 교집합, 합집합, 차집합 구하기

***
* 집합 자료형은 수학적 집합 연산이 가능하다. 


* 두 집합 자료형 S1과 S2가 있다고 가정:

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**1) 교집합: S1&S2** / **S1.intersection(S2)** / **S2.intersection(S1)**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**2) 합집합: S1|S2** / **S1.union(S2)** / **S2.union(S1)**

&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;**3) 차집합: S1-S2** / **S1.difference(S2)** / **S2.difference(S1)**

In [146]:
s1 = set([3,6,9,12,15,18,21,24])
s2 = set([4,8,12,16,20,24])

In [147]:
#교집합

print(s1&s2)
print(s2&s1)
print(s1.intersection(s2))
print(s2.intersection (s1))

{24, 12}
{24, 12}
{24, 12}
{24, 12}

In [148]:
#합집합

print(s1|s2)
print(s2|s1)
print(s1.union(s2))
print(s2.union (s1))

{3, 4, 6, 8, 9, 12, 15, 16, 18, 20, 21, 24}
{3, 4, 6, 8, 9, 12, 15, 16, 18, 20, 21, 24}
{3, 4, 6, 8, 9, 12, 15, 16, 18, 20, 21, 24}
{3, 4, 6, 8, 9, 12, 15, 16, 18, 20, 21, 24}

In [149]:
#차집합

print(s1-s2)  #s1에서 s2와 같은 요솟값 빼기
print(s1.difference(s2))

print(s2-s1)  #s2에서 s1과 같은 요솟값 빼기
print(s2.difference (s1))

{3, 6, 9, 15, 18, 21}
{3, 6, 9, 15, 18, 21}
{8, 16, 4, 20}
{8, 16, 4, 20}

## 4.3 집합 자료형 관련 함수들

### 4.3.1 값 1개 추가하기

* **a.add( )** 함수 사용

In [151]:
s1 = set([3,6,9,12,15,18,21,24])

s1.add(0)
print(s1)

{0, 3, 6, 9, 12, 15, 18, 21, 24}

### 4.3.2 값 여러 개 추가하기

* **a.update( )** 함수 사용

In [158]:
s1 = set([3,6,9,12,15,18,21,24])

s1.update([0,27,30])  #추가하고 싶은 여러 값들을 리스트로 만들어주는 것 잊지 말자!
print(s1)

{0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30}

### 4.3.3 특정 값 1개 제거하기

* **a.remove( )** 함수 사용

In [159]:
s1 = set([3,6,9,12,15,18,21,24])

s1.remove(24) 
print(s1)

{3, 6, 9, 12, 15, 18, 21}

# 5. 불 자료형 (Bool)

* True와 False를 나타내는 자료형

## 5.1 불 자료형 예시

* 컴퓨터가 무엇이 옳고 그름을 판단할 수 있도록 무엇이 True이고 무엇이 False인지를 나타내는 데이터가 필요하다.


* <span style="color:red">주의</span>: True와 False로 쓰며, "True", "False", true, false와 같이 사용하지 않는다.

In [161]:
#불 자료형 생성

a = True
b = False

In [164]:
#type(x)로 x의 자료형을 확인

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [168]:
#불 자료형은 문자열과 다르다. 

c = "True"
print(type(c))

<class 'str'>

In [165]:
#불 자료형은 조건문의 리턴값으로 사용된다 (True, False 판별)

a == a  #"a와 a가 같은가?"를 묻는 조건문

True

In [170]:
a == b

False

In [169]:
"스폰지밥" == "뚱이"

False

In [171]:
100 > 10

True

In [172]:
-5 > 2

False

## 5.2 자료형의 참과 거짓

* 자료형에도 참과 거짓이 있으며, 불 자료형을 출력하여 확인이 가능하다.

*** 문자형**

In [173]:
#True: 요소가 있을 경우

bool("A")

True

In [174]:
#False: 요소가 없이 값이 비어 있는 경우

bool("")

False

*** 리스트**

In [176]:
#True

bool([1,2,3])

True

In [177]:
#False

bool([])

False

*** 튜플**

In [178]:
#True

bool((1,2,3))

True

In [179]:
#False

bool(())

False

*** 딕셔너리**

In [180]:
#True

bool({1:"a",2:"b",3:"c"})

True

In [181]:
#False

bool({})

False

*** 세트**

In [182]:
#True

x = set([1,2,3])
bool(x)

True

In [183]:
#False

x = set()
bool (x)

False

*** 0 이외의 값은 True, 0은 False**

In [186]:
#True
print(bool(1))
print(bool(2))
print(bool(3))

#False
print(bool(0))

True
True
True
False

*** None은 거짓**

In [187]:
bool(None)

False

*** 조건문 2개가 and로 연결되었을 경우, 두 조건문 모두 참이어야 True**

In [188]:
#True
print(bool(10>5 and 3==3))

#False
print(bool(10>5 and 3==2))

True
False

*** 조건문 2개가 or로 연결되었을 경우, 두 조건문 중 하나라도 참이면 True**

In [189]:
#True
print(bool(10>5 or 3==3))

print(bool(10>5 or 3==2))

#False
print(bool(10<5) or 3==2)

True
True
False